@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400; /* Обычный вес шрифта */
    src: local('Lato Regular'), local('Lato-Regular'), url(fonts/Lato-Regular.woff2) format('woff2');
    /* Если используете CDN, то можете заменить "url(path/to/lato.woff2)" на ссылку на шрифт с CDN */
  }
  
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 700; /* Полужирный вес шрифта */
src: local('Lato Bold'), local('Lato-Bold'), url(fonts/Lato-Bold.woff2) format('woff2');
/* Замените на ссылку на шрифт с CDN, если используете CDN */
}

body {
  background-color: #efdbe0;
  font-family: 'Lato';   
}

.navbar {
  padding-top: 0px; /* Уменьшаем верхний отступ */
  padding-bottom: 0px; /* Уменьшаем нижний отступ */
}

.navbar.bg-pink {
  background-color: #efdbe0; /* Замените на ваш выбранный цвет */
  /* border-bottom: 1px solid #373737; только нижняя граница */
}

.navbar-nav .nav-link {
  font-size: 18px; /* Увеличиваем размер шрифта ссылок */
}

.navbar.navbar-light .navbar-nav .nav-link {
  color: #373737; /* Цвет текста */
}

.navbar.navbar-light .navbar-nav .nav-link:hover {
  color: #000; /* Черный */
}

.navbar-toggler-icon {
  height: 100%; /* Устанавливаем высоту иконки равной высоте шапки */
}

.navbar-brand {
  padding-top: 4px;
  margin-bottom: -10px;
}

.search-container {
  margin-top: 20px; /* отступ сверху */
  margin-bottom: 20px; /* отступ снизу */
  margin-left: auto; /* отступ слева */
  margin-right: auto; /* отступ справа */
  max-width: 450px; /* максимальная ширина контейнера */
}

.input-group {
  margin-bottom: 10px; /* отступ между элементами внутри группы */
}

.header {
  background-color: #efdbe0;
  padding: 10px 0;
  color: #fff;
  display: flex;
  justify-content: space-between; /* Новое свойство для размещения элементов слева и справа */
  align-items: center; /* Центрирование элементов по вертикали */
}

.logo {
  max-width: 150px;
  margin-bottom: 10px;
}

.header-links {
  display: flex;
  align-items: center;
}

.right-container {
  margin-left: auto; /* Этот блок будет автоматически выравниваться вправо */
}

.header-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.mb-3 {
  /* width: 220px; */
  margin-inline: 10px;
  border: 1px solid #373737;
  border-radius: 10px;
}

.main2 {
display: flex;
flex-direction: column;
align-items: center;
}
    
.registration-image {
  width: 200px;
  height: auto;
  display: block;
  /* margin-bottom: -10px; */
}

.base {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product h1 {
  margin-top: 1rem;
  margin-bottom: 0;
}

.blocks {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  margin-inline: 10px;
  margin-bottom: 10px;
  width: 65%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  min-height: 540px;
  border: 1px solid #373737;
}

.right-box {
  margin-bottom: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #efdbe0;
  min-height: 200px;
  /* border: 1px solid #373737; */
  border-radius: 10px;
}

.product-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 98%;
  margin-block: 10px;
}

.product-box h3, p{
  margin: 0;
}

.img-box {
  margin-inline: 10px;
  /* width: 150px; */
  width: 20%;
}

.image {
  width: 100%;
  border-radius: 10px;
  height: auto;
  display: block;
}

.des-box {
  /* width: 350px; */
  width: 60%;
}

.sendButton {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  padding-inline: 30px;
  border: 1px solid #373737;
  background-color: #c4788b;
}

.order-box {
  height: 50px;
  width: 90%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.right {
  margin-top: -25px;
  margin-bottom: -50px;
}

.shop-btn {
  text-align: center;
}

.shop-btn a {
  text-decoration: none;
  background-color: #c4788b;
  color: white;
  /* padding-block: 10px;
  padding-inline: 20px; */
  padding: 0.375rem 0.75rem;
  border-radius: 5px;
}

.shop-btn a:hover {
  background-color: #da9fae;
}

.bottom-bar {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

h4 {
  margin: 0;
}

.product-price {
  margin-top: 10px;
}

.quantity {
  margin-block: 10px;
}

.quantity button {
  background-color: #c4788b;
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 10px;
  border: 1px solid #373737;
}

.btn{
  border: 1px solid #373737;
}

.btn:hover{
  color: white
}

.buy-button{
  padding: 0.375rem 0.75rem;
}

.count {
  margin-inline: 7px;
}

.btn {
  color: white;
  background-color: #c4788b;
}

.price-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer.bg-pink {
  background-color: #efdbe0;
  padding: 20px; /* добавим внутренний отступ для лучшего визуального эффекта */
}

.footer-image {
  width: 200px;
  height: auto;
  display: block;
}

.navbar-toggler {
  color: rgb(115 77 77 / 67%);
}

.collapse a:hover {
  color: rgb(69, 69, 69);
}

.row a:hover {
  color: rgb(69, 69, 69);
}

.bottom-bar{
  display: none;
}

.product-img img{
  height: 200px;
}


.zation h4{
	margin: 0;
	color: #ffffff;
    /* font-size: 20px;
    font-weight: 500; */
}

/* .zation {
    height: 100%;
    width: 396px;
    background: #cda1ac;
    border: 1px solid #373737;
    border-radius: 10px;
    overflow: hidden;
    transition: max-height 0.2s;
    margin-bottom: 20px;
} */

.zation {
  /* margin-top: -20px; */
  /* height: 100%; */
  /* max-height: 446px; */
  width: 100%;
  background: #cda1ac;
  border: 1px solid #373737;
  border-radius: 10px;
  overflow: hidden;
  transition: max-height 0.2s;
  /* margin-bottom: 20px; */
}

.extend {
    max-height: 480px;
}

.head {
	width: 100%;
    display: flex;
    height: 72px;
    border-bottom: 1px solid #373737;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.head a {
    text-decoration: none;
    height: 100%;
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
}

.head .title {
    text-decoration: none;
    height: 100%;
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
}

.tabs {
    width: 100%;
    height: 100%;
    display: flex;
}

.login-form {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 0;
}

.extend form {
    right: 100%;
}

.inputs {
    width: 80%;
    padding-top: 6px;
}

.input {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.input input {
    width: 100%;
    font-size: 17px;
    background: #ffffff;
    border-radius: 8px;
    padding: 16px 18px 16px 51px;
    color: #373737;
}

.checkbox {
    margin-top: -20px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkbox span {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    user-select: none;
}

.checkbox span:before {
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 6px;
    margin-right: 16px;
    background-color: #dad4d8;
}

.checkbox:hover input ~ span:before {
    background-color: #ffffff;
}

.checkbox input:checked ~ span:before {
    background-image: url(../img/checked.png);
    background-size: cover;
}
  
.zation-button {
    display: block;
    background: #325e53;
    padding: 14px 52px;
    border-radius: 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 90px;
}

.registration-image {
    width: 200px;
    height: auto;
    display: block;
    /* margin-bottom: -10px; */
}
/* 
.fas {
    color: #373737;
} */

.input1 {
    color: #ffffff;
}

.input1 span {
    font-size: 18px; /* Увеличьте значение размера шрифта по вашему усмотрению */
}

.input i {
    position: absolute;
    left: 15px;
    top: -27px;
    color: #373737;
    font-size: 20px;
    transform: translateY(47px);
}

textarea[name="coment"] {
	border: 2px solid #373737;
	width: 100%;
	height: 100px;
	resize: none;
	font-size: 17px;
  background: #ffffff;
  border-radius: 8px;
  color: #373737;
}


b, strong {
  font-weight: bolder;
  font-size: 20px;
  color: white;
}

.money {
  font-weight: 900;
  font-size: 20px;
  color: white;
}




@media (max-width: 1050px) {
  .product{
    width: 60%;
  }

  .right-box {
    width: 35%;
  }
}


@media (max-width: 800px) {
  .blocks {
    flex-direction: column;
    align-items: center;
  }

  .product{
    width: 95%;
    margin-inline: 0px;
  }

  .right-box {
    /* width: 95%;
    margin-inline: 0px; */
    display: none;
  }

  .bottom-bar{
    display: flex;
  }
}

@media (max-width: 840px) {
  .head .title{
    font-size: 24px;
  }
}

