@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400; /* Обычный вес шрифта */
    src: local('Lato Regular'), local('Lato-Regular'), url(fonts/Lato-Regular.woff2) format('woff2');
    /* Если используете CDN, то можете заменить "url(path/to/lato.woff2)" на ссылку на шрифт с CDN */
  }
  
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 700; /* Полужирный вес шрифта */
src: local('Lato Bold'), local('Lato-Bold'), url(fonts/Lato-Bold.woff2) format('woff2');
/* Замените на ссылку на шрифт с CDN, если используете CDN */
}

body {
    background-color: #efdbe0;
    /* font-family: 'Lato';    */
}

.navbar {
  padding-top: 0px; /* Уменьшаем верхний отступ */
  padding-bottom: 0px; /* Уменьшаем нижний отступ */
}

.navbar.bg-pink {
  background-color: #efdbe0; /* Замените на ваш выбранный цвет */
  /* border-bottom: 1px solid #373737; только нижняя граница */
}

.navbar-nav .nav-link {
  font-size: 18px; /* Увеличиваем размер шрифта ссылок */
}

.navbar.navbar-light .navbar-nav .nav-link {
  color: #373737; /* Цвет текста */
}

.navbar.navbar-light .navbar-nav .nav-link:hover {
  color: #000; /* Черный */
}

.navbar-toggler-icon {
  height: 100%; /* Устанавливаем высоту иконки равной высоте шапки */
}

.navbar-brand {
  padding-top: 4px;
  margin-bottom: -10px;
}

.search-container {
  margin-top: 20px; /* отступ сверху */
  margin-bottom: 20px; /* отступ снизу */
  margin-left: auto; /* отступ слева */
  margin-right: auto; /* отступ справа */
  max-width: 450px; /* максимальная ширина контейнера */
}

.input-group {
  margin-bottom: 10px; /* отступ между элементами внутри группы */
}

.header {
  background-color: #efdbe0;
  padding: 10px 0;
  color: #fff;
  display: flex;
  justify-content: space-between; /* Новое свойство для размещения элементов слева и справа */
  align-items: center; /* Центрирование элементов по вертикали */
}

.logo {
  max-width: 150px;
  margin-bottom: 10px;
}

.header-links {
  display: flex;
  align-items: center;
}

.right-container {
  margin-left: auto; /* Этот блок будет автоматически выравниваться вправо */
}

.header-links a {
  color: #fff;
  margin: 0 10px;
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

.mb-3 {
  /* width: 220px; */
  margin-inline: 10px;
  border: 1px solid #373737;
  border-radius: 10px;
}

.main2 {
display: flex;
flex-direction: column;
align-items: center;
}
    
.registration-image {
  margin-block: -20px;
  width: 200px;
  height: auto;
  display: block;
}

.base {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product h1 {
  margin-top: 1rem;
}

.blocks {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.product {
  margin-inline: 10px;
  margin-bottom: 10px;
  width: 65%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  min-height: 540px;
  border: 1px solid #373737;
}

.right-box {
  margin-bottom: 10px;
  width: 30%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: white;
  min-height: 200px;
  border: 1px solid #373737;
  border-radius: 10px;
}

.product-box {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 98%;
    margin-block: 10px;
}

.product-box h3, p{
  margin: 0;
}

.img-box {
  margin-inline: 10px;
  /* width: 150px; */
  width: 20%;
}

.image {
  width: 100%;
  border-radius: 10px;
  height: auto;
  display: block;
}

.des-box {
  /* width: 350px; */
  width: 60%;
}

.sendButton {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  padding: 5px;
  padding-inline: 30px;
  background-color: #c4788b;
}

.order-box {
  height: 50px;
  width: 90%;
  text-align: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.shop-btn {
  text-align: center;
}

.shop-btn a {
  text-decoration: none;
  background-color: #c4788b;
  color: white;
  padding-block: 10px;
  padding-inline: 20px;
  border-radius: 5px;
}

.shop-btn a:hover {
  background-color: #da9fae;
}

.bottom-bar {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
}

h4 {
  margin: 0;
}

.product-price {
  margin-top: 10px;
}

.quantity {
  margin-block: 10px;
}

.quantity button {
  background-color: #c4788b;
  border-radius: 5px;
  border: 0;
  color: white;
  padding: 10px;
}

.count {
  margin-inline: 7px;
}

.btn {
  color: white;
  background-color: #c4788b;
}

.price-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

footer.bg-pink {
  background-color: #efdbe0;
  padding: 20px; /* добавим внутренний отступ для лучшего визуального эффекта */
}

.footer-image {
  width: 200px;
  height: auto;
  display: block;
}

.navbar-toggler {
  color: rgb(115 77 77 / 67%);
}

.collapse a:hover {
  color: rgb(69, 69, 69);
}

.row a:hover {
  color: rgb(69, 69, 69);
}

.bottom-bar{
  display: none;
}

.product-img img{
  height: 200px;
}



@media (max-width: 1050px) {
  .product{
    width: 60%;
  }

  .right-box {
    width: 35%;
  }
}


@media (max-width: 800px) {
  .blocks {
    flex-direction: column;
    align-items: center;
  }

  .product{
    width: 95%;
    margin-inline: 0px;
  }

  .right-box {
    /* width: 95%;
    margin-inline: 0px; */
    display: none;
  }

  .bottom-bar{
    display: flex;
  }
}


/* 
@media screen and (max-width: 1400px) {
	.envelopexas .roundabout {
		grid-auto-columns: calc((100% / 3));
	}
}

@media screen and (max-width: 1015px) {
	.envelopexas .roundabout {
		grid-auto-columns: calc((100% / 2) + 20px);
	}
}

@media screen and (max-width: 750px) {
	.envelopexas .roundabout {
		grid-auto-columns: calc((100% / 1) + 40px);
	}
} */