@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400; /* Обычный вес шрифта */
  src: local('Lato Regular'), local('Lato-Regular'), url(fonts/Lato-Regular.woff2) format('woff2');
  /* Если используете CDN, то можете заменить "url(path/to/lato.woff2)" на ссылку на шрифт с CDN */
}

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700; /* Полужирный вес шрифта */
  src: local('Lato Bold'), local('Lato-Bold'), url(fonts/Lato-Bold.woff2) format('woff2');
  /* Замените на ссылку на шрифт с CDN, если используете CDN */
}


body {
    background-color: #efdbe0;
    font-family: 'Lato';   
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.align {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 8px;
  }
  
  .zation {
    margin-top: -30px;
    height: 100%;
    /* max-height: 446px; */
    width: 396px;
    background: #cda1ac;
    border: 1px solid #373737;
    border-radius: 10px;
    overflow: hidden;
    transition: max-height 0.2s;
  }
  
  .extend {
    max-height: 480px;
  }
  
  .head {
    width: 100%;
    display: flex;
    height: 72px;
    border-bottom: 1px solid #373737;
    justify-content: space-between;
  }
  
  .head a {
    text-decoration: none;
    height: 100%;
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(114, 114, 114);
    font-size: 20px;
    font-weight: 500;
  }
  
  .head .selected {
    position: relative;
    color: #ffffff;
    font-weight: 700;
  }
  
  .head .selected:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: #ffffff;
    border-radius: 99px 99px 0 0;
  }
  
  .tabs {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  form {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 0;
  }
  
  .extend form {
    right: 100%;
  }
  
  .inputs {
    width: 80%;
    padding-top: 6px;
  }
  
  .input {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .input input {
    width: 100%;
    font-size: 17px;
    background: #ffffff;
    border-radius: 8px;
    padding: 16px 18px 16px 51px;
    color: #373737;
  }
  
  .checkbox {
    margin-top: -20px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .checkbox span {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    user-select: none;
  }
  
  .checkbox span:before {
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 6px;
    margin-right: 16px;
    background-color: #dad4d8;
  }
  
  .checkbox:hover input ~ span:before {
    background-color: #ffffff;
  }
  
  .checkbox input:checked ~ span:before {
    background-image: url(../img/checked.png);
    background-size: cover;
  }

  .zation-button{
    display: block;
    background: #ffffff;
    padding: 14px 52px;
    border-radius: 12px;
    color: rgb(140,140,140);
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  

  .registration-image {
    width: 200px;
    height: auto;
    display: block;
}