
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400; /* Обычный вес шрифта */
    src: local('Lato Regular'), local('Lato-Regular'), url(fonts/Lato-Regular.woff2) format('woff2');
  }
  
@font-face {
font-family: 'Lato';
font-style: normal;
font-weight: 700; /* Полужирный вес шрифта */
src: local('Lato Bold'), local('Lato-Bold'), url(fonts/Lato-Bold.woff2) format('woff2');
}

body {
    background-color: #efdbe0;
    font-family: 'Lato';   
}

.navbar {
    padding-top: 0px; /* Уменьшаем верхний отступ */
    padding-bottom: 0px; /* Уменьшаем нижний отступ */
}

.navbar.bg-pink {
    background-color: #efdbe0; /* Замените на ваш выбранный цвет */
}

.navbar-nav .nav-link {
    font-size: 18px; /* Увеличиваем размер шрифта ссылок */
}

.navbar.navbar-light .navbar-nav .nav-link {
    color: #373737; /* Цвет текста */
}

.navbar.navbar-light .navbar-nav .nav-link:hover {
    color: #000; /* Черный */
}

.navbar-toggler-icon {
    height: 100%; /* Устанавливаем высоту иконки равной высоте шапки */
}

.navbar-brand {
    padding-top: 4px;
    margin-bottom: -10px;
}

.logo {
    max-width: 150px;
    margin-bottom: 10px;
}



.header-links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}


footer.bg-pink {
    background-color: #efdbe0;
    padding: 20px; /* добавим внутренний отступ для лучшего визуального эффекта */
}

.footer-image {
    width: 200px;
    height: auto;
    display: block;
}

.navbar-toggler {
    color: rgb(115 77 77 / 67%);
}

.collapse a:hover {
    color: rgb(69, 69, 69);
}

.row a:hover {
    color: rgb(69, 69, 69);
}

.base{
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.main-base{
	display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
	text-align: center;
	width: 90%;
	border-radius: 10px;
	min-height: 600px;
}

.order-boxes{
	display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 10px;
}

.order-box{
	display: flex;
    width: 200px;
    background-color: white;
    flex-direction: column;
    align-items: center;
	margin-inline: 10px;
	border-radius: 10px;
	border: 1px solid #373737;
    margin-block: 10px;
}

.info-line{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.align {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 8px;
  }
  
  .zation h4{
  margin: 0;
  color: #ffffff;
    /* font-size: 20px;
    font-weight: 500; */
  }
  
  .zation {
    height: 100%;
    min-height: 465px;
    width: 950px;
    background: #cda1ac;
    border: 1px solid #373737;
    border-radius: 10px;
    overflow: hidden;
    transition: max-height 0.2s;
    margin-bottom: 20px;
  }
  
  .extend {
    max-height: 480px;
  }
  
  .head {
    width: 100%;
    display: flex;
    height: 72px;
    border-bottom: 1px solid #373737;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }
  
  .head a {
    text-decoration: none;
    height: 100%;
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    /* width: 195px; */
  }
  
  .head .selected {
    position: relative;
    color: #325e53;
    font-weight: 700;
  }
  
  .head .selected:after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 5px;
    width: 100%;
    background: #325e53;
    border-radius: 99px 99px 0 0;
  }
  
  .head .title {
    text-decoration: none;
    height: 100%;
    padding: 0 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
  }
  
  .tabs {
    width: 100%;
    height: 100%;
    display: flex;
  }

  .waiting-form {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    /* padding-top: 25px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    right: 0;
    padding-block: 10px;
}
  
  .extend form {
    right: 100%;
  }
  
  /* .inputs {
    width: 80%;
    padding-top: 6px;
  } */
  
  .inputs {
    width: auto;
    padding-top: 6px;
    /* padding-bottom: 12px; */
    display: flex;
    flex-direction: column;
  }
  .input {
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
  }
  
  .input input {
    width: 100%;
    font-size: 17px;
    background: #ffffff;
    border-radius: 8px;
    padding: 16px 18px 16px 51px;
    color: #373737;
  }
  
  .checkbox {
    margin-top: -20px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .checkbox input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
  }
  
  .checkbox span {
    display: flex;
    align-items: center;
    color: #ffffff;
    font-size: 16px;
    user-select: none;
  }
  
  .checkbox span:before {
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 6px;
    margin-right: 16px;
    background-color: #dad4d8;
  }
  
  .checkbox:hover input ~ span:before {
    background-color: #ffffff;
  }
  
  .checkbox input:checked ~ span:before {
    background-image: url(../img/checked.png);
    background-size: cover;
  }
  
  .zation-button {
    display: block;
    background: #325e53;
    padding: 14px 52px;
    border-radius: 12px;
    color: #ffffff;
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
  }
  
  .input1 {
    color: #ffffff;
  }
  
  .input1 span {
    font-size: 18px;
  }
  
  .input i {
    position: absolute;
    left: 15px;
    top: -27px;
    color: #373737;
    font-size: 20px;
    transform: translateY(47px);
  }

  
  .registration-image {
    width: 200px;
    height: auto;
    display: block;
  }
  
  .header-link {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-evenly;
  }
  
  .else-auth {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .else-auth p {
    margin: 0;
  }
  
  .else-auth a {
    padding: 5px;
    border-radius: 5px;
    background-color: #c4788b;
  }
  .else-auth a:hover {
    text-decoration: underline;
  }
  
  .buy-box {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .sendButton, .else-sendButton {
    /* height: 50px; */
    color: white;
    display: inline-block;
    margin: 81px;
    margin-block: 10px;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 30px;
    /* border: 2px solid #373737; */
    background-color: #c4788b;
  }
  
  .sendButton:hover, .else-sendButton:hover {
    cursor: pointer;
  }

  .sel {
    word-wrap: normal;
    height: 23px;
}



@media screen and (max-width: 1000px) {
	.zation {
		width: 700px;
	}
}
@media screen and (max-width: 750px) {
	.zation {
		width: 600px;
	}
  .zation-button{
      width: 290px;
      padding: 14px 5px;
  }

  .order-box{
    width: 165px;
    /* margin-inline: 2px;
    margin-block: 2px; */
  }
  .info-line select{
    height: 25px;
  }

  .order-box p{
    margin-bottom: 10px;
    font-size: 14px;
  }
}
@media screen and (max-width: 610px) {
	.zation{
      width: 500px;
  }
  .head a{
    width: 160px;
    text-align: center;
    font-size: 20px;
    padding: 0;
  }

}
@media screen and (max-width: 600px) {
	.modal-content{
        width: 95%;
        padding: 5px;
    }
    td{
        font-size: 3vw;
    }
    .table-img{
        width: 50px;
    }
}
@media screen and (max-width: 550px) {
	.zation{
    width: 350px;
  }
  .order-box{
    margin-inline: 2px;
    margin-block: 2px;
  }
  .order-box p{
    margin-bottom: 5px;
  }
  .head a{
    width: 110px;
    text-align: center;
    font-size: 18px;
    padding: 0;
  }
  .info-line select{
    height: 21px;
    font-size: 14px;
  }
}
@media screen and (max-width: 355px) {
	.zation{
    width: 300px;
  }
  .head a{
    width: 97px;
    text-align: center;
    font-size: 16px;
    padding: 0;
  }
  .order-box{
    text-align: center;
    width: 135px;
    margin-inline: 5px;
  }
  .order-box p{
    margin-bottom: 5px;
  }
  .info-line select{
    /* height: 17px; */
    width: 73px;
    font-size: 10px;
    margin: 0;
  }
  .info-line p{
    font-size: 13px;
  }
}
@media screen and (max-width: 345px) {
	.table-img{
        width: 40px;
  }
}