body {
    background-color: #efdbe0;
    /* font-family: 'Lato';    */
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.head{
	height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registration-image {
    width: 200px;
    height: auto;
    display: block;
    margin-bottom: -50px;
}

.base{
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img_box{
	margin-inline: 30px;
	width: 330px;
}

.desc_box{
	margin-inline: 30px;
    width: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    /* justify-content: flex-start; */
	justify-content: space-between;
}

.desc_box div{
	display: inline-flex;
}

.desc_box b{
	margin-right: 10px;
}


.buy-box{
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}