/* st.css */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400; /* Обычный вес шрифта */
    src: local('Lato Regular'), local('Lato-Regular'), url(fonts/Lato-Regular.woff2) format('woff2');
    /* Если используете CDN, то можете заменить "url(path/to/lato.woff2)" на ссылку на шрифт с CDN */
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700; /* Полужирный вес шрифта */
    src: local('Lato Bold'), local('Lato-Bold'), url(fonts/Lato-Bold.woff2) format('woff2');
    /* Замените на ссылку на шрифт с CDN, если используете CDN */
}

h3{
    margin: 0;
	margin-top: 15px;
	margin-bottom: 20px;
}
body{
    color: #FFFFFF;
    font-family: 'Lato', sans-serif; 
    background-color: #efdbe0;
    margin: 0;
}

.head{
	text-align: center;
	padding-top: 2%;
	margin-bottom: 2%;
}
.spacer{
	height: 15px;
}

.form{
	display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.inputs{
	display: flex;
    flex-direction: column;
    align-items: center;

	padding-top: 1em;
	padding-bottom: 1em;
	/* width: 25%; */
	width: 400px;
	background-color: #cda1ac;
	height: 100%;
	border-radius: 10px;
}

.forma{
	font-size: 20px;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.Button{
	font-size: 20px;

	width: 7em;
	height: 2em;

	border-radius: 4px;
	color: #999999;
    background-color: #ffffff;

}

.loginButtonSingUp{
	font-size: 20px;

	width: 13em;
	height: 2em;

	border-radius: 4px;
	color: #FFFFFF;
    border: 3px solid #EEEEEE;
    background-color: #00ADB5;

}

.zation-button{
    display: block;
    background: #ffffff;
    padding: 14px 52px;
    border-radius: 12px;
    color: rgb(140,140,140);
    font-weight: 700;
    font-size: 21px;
    cursor: pointer;
    /* margin-top: 20px; */
    /* margin-bottom: 30px; */
  }

  .input-field {
    width: 60%;
    font-size: 17px;
    background: #ffffff;
    border-radius: 8px;
    padding: 10px 10px 10px 10px;
    color: #373737;
  }

  .registration-image {
    width: 200px;
    height: auto;
    display: block;
}