<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DESERTIKA ADMIN</title>
    <link rel="icon" href="static/images/favicon.ico">
</head>
<body>
	<h1>Добавить новый продукт</h1>
	<form action="/new_product" method="post" class="form" enctype="multipart/form-data">
		<input id="register-name" name="name" type="text" class="field-input-name" placeholder="Название товара" required>
		<br>
		<textarea id="register-surname" name="description" placeholder="Описание" required style="height: 150px; width: 300px;"></textarea>
		<br>
		<input id="register-email" name="weight" type="text" class="field-input-name" placeholder="Вес" required>
		<br>
		<input id="register-tel" name="price" type="number" class="field-input-name" placeholder="Стоимость" required>
		<br>
        <input id="register-tel" name="price-text" type="text" class="field-input-name" placeholder="Единицы" value="₽" required>
		<br>

        <p>Главная картинка</p>
		<input type="file" id="Main-file-Input" name="Mainfile" accept="image/*" onchange="MainpreviewImages()">
		<br>
		<div id="main-preview"></div>
		<br>

        <p>Дополнительные изображния</p>
		<input type="file" id="fileInput" name="files[]" accept="image/*" multiple onchange="previewImages()">
		<br>
		<div id="preview"></div>
		<br>
		<input class="field-input-button" type="submit" value="Добавить">
	</form>



	<script>
        function previewImages() {
            var preview = document.getElementById("preview");
            var files = document.getElementById('fileInput').files;
            
            preview.innerHTML = '';
            if(files.length === 0) {
                var para = document.createElement("p");
                para.textContent = "No files selected for upload";
                preview.appendChild(para);
            } else {
                for(var i = 0; i < files.length; i++) {
                    var img = document.createElement("img");
                    img.src = URL.createObjectURL(files[i]);
                    img.style.width = "150px";
                    img.style.height = "150px";
                    img.style.margin = "5px";
                    preview.appendChild(img);
                }
            }
        }

        function MainpreviewImages() {
            var preview = document.getElementById("main-preview");
            var files = document.getElementById('Main-file-Input').files;
            
            preview.innerHTML = '';
            if(files.length === 0) {
                var para = document.createElement("p");
                para.textContent = "No files selected for upload";
                preview.appendChild(para);
            } else {
                for(var i = 0; i < files.length; i++) {
                    var img = document.createElement("img");
                    img.src = URL.createObjectURL(files[i]);
                    img.style.width = "150px";
                    img.style.height = "150px";
                    img.style.margin = "5px";
                    preview.appendChild(img);
                }
            }
        }
    </script>
</body>
</html>