<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DESERTIKA Изменение пароля</title>

	<!-- Установка иконки сайта для отображения во вкладке браузера -->
	<link rel="icon" href="static/images/favicon.ico">

	<!-- Подключаем внешние таблицы стилей -->
    <link rel="stylesheet" href="../static/style/change_password.css">
    <link rel="stylesheet" href="../static/style/login.css">

    <!-- Подключаем шрифты семейства Roboto -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
	<script src="../static/lib/jquery-3.5.1.slim.min.js"></script>
	<script src="../static/lib/jquery.min.js"></script>
	<link href="../static/lib/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="../static/lib/all.min.css">
</head>
<body>
    <div class="main">
    <img src="../static\images\logo.jpg" alt="Image Description" class="registration-image">
        <!-- Контейнер для всей формы -->
        <div class="zation">
			<!-- Заголовок Проверка безопасности -->
			<div class="head">
				<!-- Пустой блок для визуального выравнивания -->
				<div></div>
				<span class="title">Изменение пароля</span>
				<!-- Пустой блок для визуального выравнивания -->
				<div></div>
			</div>
            <!-- Контейнер для содержимого вкладок -->
            <div class="tabs">
                <!-- Форма для входа -->
				<form class="forma" method="post" action="{{ url_for('change_password', user_id=user.uid) }}">
                    <!-- Контейнер для полей ввода и чекбокса -->
                    <div class="inputs">
						<!-- Поле для пароля -->
						<div class="input">
							<i class="fas fa-lock"></i>
							<input name="new_password" id="passwordInput1" placeholder="Новый пароль" type="password">
							<i class="fas fa-eye" id="togglePassword1"></i> <!-- Иконка "глазика" -->
						</div>
						<!-- Поле для пароля -->
						<div class="input">
							<i class="fas fa-lock"></i>
							<input name="new_password" id="passwordInput2" placeholder="Подтверждение пароля" type="password">
							<i class="fas fa-eye" id="togglePassword2"></i> <!-- Иконка "глазика" -->
						</div>
                    </div>
                    <!-- Кнопка для отправки кода -->
					<input class="zation-button" type="submit" value="Изменить пароль">
				</form>	
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
						<div class="input1">
							<p style="margin-top: 0; color: red;">{{ message }}</p>
						</div>
						{% endfor %}
					{% endif %}
				{% endwith %}
            </div> <!-- Закрытие контейнера для содержимого вкладок -->
        </div> <!-- Закрытие контейнера для всей формы -->
    </div>

	<script>
		// Функция для переключения видимости пароля
		function togglePasswordVisibility(inputId, toggleId) {
			var passwordInput = document.getElementById(inputId);
			var toggleIcon = document.getElementById(toggleId);
	
			if (passwordInput.type === "password") {
				passwordInput.type = "text";
				toggleIcon.classList.remove("fa-eye");
				toggleIcon.classList.add("fa-eye-slash");
			} else {
				passwordInput.type = "password";
				toggleIcon.classList.remove("fa-eye-slash");
				toggleIcon.classList.add("fa-eye");
			}
		}
	
		// Назначение обработчиков событий для каждого "глазика"
		document.getElementById("togglePassword1").addEventListener("click", function() {
			togglePasswordVisibility("passwordInput1", "togglePassword1");
		});
	
		document.getElementById("togglePassword2").addEventListener("click", function() {
			togglePasswordVisibility("passwordInput2", "togglePassword2");
		});
	</script>

	<script>
		// Функция для проверки совпадения паролей
		function validatePassword() {
			var password1 = document.getElementById("passwordInput1").value;
			var password2 = document.getElementById("passwordInput2").value;

			if (password1 !== password2) {
				alert("Пароли не совпадают.");
				return false; // Предотвращаем отправку формы
			}
			return true; // Позволяем отправку формы, если пароли совпадают
		}

		// Назначаем эту функцию на событие отправки формы
		document.querySelector(".forma").addEventListener("submit", function(event) {
			if (!validatePassword()) {
				event.preventDefault(); // Предотвращаем отправку формы, если пароли не совпадают
			}
		});
	</script>
</body>
</html>