<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Desertika</title>
</head>
<body>
	<h2>Вход</h2>
	<form action="/login" method="post" class="form">
		<input id="register-email" name="email" type="email" class="field-input-name" placeholder="Email" required>
		<br>
		<input id="register-pass" name="password" type="password" class="field-input-name" placeholder="Пароль" required>
		<br>
		<input class="field-input-button" type="submit" value="Войти">
	</form>
</body>
</html>