<!DOCTYPE html> 
<html lang="ru"> 
<head>  
    <meta charset="UTF-8">  
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <link rel="icon" href="static/images/favicon.ico">  
    <title>DESERTIKA Оформление заказа</title>  

    <script src="static/lib/jquery-3.5.1.slim.min.js"></script>
	<script src="static/lib/bootstrap.min.js"></script>
	<script src="static/lib/jquery.min.js"></script>
	<link href="static/lib/bootstrap.min.css" rel="stylesheet">
	<link href="static/lib/font-awesome.min.css" rel="stylesheet">
	<script src="static/lib/popper.min.js"></script>
	<link rel="stylesheet" href="static/lib/all.min.css">
	
	<link rel="stylesheet" href="static/style/order.css">  
</head>  
    
<body> 
	<nav class="navbar navbar-expand-lg bg-pink sticky-top">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('main') }}">
				<img src="static/images/logo_small.jpg" class="logo d-block" alt="Logo" oncontextmenu="return false;" onmouseover="this.title='';" style="max-height: 50px;">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<!-- <span class="navbar-toggler-icon"></span> -->
				<i class="fa fa-bars" aria-hidden="true"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('catalog') }}">Каталог</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<!-- Добавляем элемент навигации для телефонного номера -->
					<li class="nav-item">
						<a class="nav-link" href="tel:+79143336761">+7 (914) 333-67-61</a>
					</li>
				</ul>
			</div>
			<div class="collapse navbar-collapse justify-content-end " id="navbarNav">
				<ul class="navbar-nav">
					{% if user.is_admin == True %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('administrator') }}"><i class="fas fa-lock" aria-hidden="true"></i> Admin</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('basket') }}"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Корзина</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('profile') }}"><i class="fa fa-user"></i> {{ user.name }}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Выйти</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

    <div class="main2"> 
        <a href="{{ url_for('main') }}"> 
            <img src="static\images\logo.jpg" class="registration-image" oncontextmenu="return false;" onmouseover="this.title='';"> 
        </a> 
 
		<div class="zation">
			<!-- Заголовок Оформление заказа -->
			<div class="head">
				<!-- Пустой блок для визуального выравнивания -->
				<div></div>
				<span class="title">Оформление заказа</span>
				<!-- Пустой блок для визуального выравнивания -->
				<div></div>
			</div>
			<!-- Контейнер для содержимого вкладок -->
            <div class="tabs">
                <!-- Форма для входа -->
				<!-- <form class="forma" method="post" action="{{ url_for('reset_password') }}"> -->
				<form action="/order" method="post" class="login-form" id="registrationForm" >
                    <!-- Контейнер для полей ввода и чекбокса -->
                    <div class="inputs">
                        <div class="input">
							<i class="fa fa-user" aria-hidden="true"></i>
							<input name="name" placeholder="Имя" type="text" value="{{user.name}}">
						</div>
						<div class="input">
							<i class="fas fa-phone"></i>
							<input name="tel" placeholder="Телефон" type="tel" value="{{user.phone_number}}">
						</div>
						<div class="input1">
							<span>Укажите дату доставки</span>
						</div>
						<div class="input">
							<i class="fa fa-calendar" aria-hidden="true"></i>
							<input name="date" placeholder="Дата к которой приготовить" type="date">
						</div>
						<div class="input">
							<textarea name="coment" placeholder="Комментарий к заказу" type="text"></textarea>
						</div>
                    </div>
                    <!-- Кнопка для отправки письма -->
					<input class="zation-button" type="submit" value="Оплатить">
				</form>
            </div> <!-- Закрытие контейнера для содержимого вкладок -->
		</div>
	</div>

	<footer class="bg-pink">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<!-- Поместили изображение внутрь первой колонки сетки -->
					<img src="static\images\logo.jpg" alt="Image Description" class="footer-image">
				</div>
				<div class="col-md-3">
					<h5>Каталог</h5>
					<ul class="list-unstyled">

						{% for category, products in grouped_product.items() %}
							<li><a href="#">{{category}}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Информация</h5>
					<ul class="list-unstyled">
						<li><a href="#">О нас</a></li>
						<li><a href="#">Условия использования</a></li>
						<li><a href="#">Политика конфиденциальности</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Контакты</h5>
					<address>
						Адрес: <a href="https://yandex.ru/maps/-/CDFAZPnX">Усадьба &laquo;Вавилово&raquo;,<br>
						ул. Елецкая 1а</a><br>
						Телефон: <a href="tel:+79143336761">+7 (914) 333-67-61</a><br>
						Email: <a href="mailto:desertika.ov@mail.ru">desertika.ov@mail.ru</a>
					</address>
					<div style="font-size: 20px; margin-top: 10px;">
						<a href="https://t.me/desertika_by_olga_vlasenko" style="margin-right: 10px;"><i class="fab fa-telegram"></i></a>
						<a href="https://www.instagram.com/desertika_by_olga_vlasenko?igsh=MTljOHdoaHo2dGhreQ==" style="margin-right: 10px;"><i class="fab fa-instagram"></i></a>
						<a href="https://wa.me/79143336761"><i class="fab fa-whatsapp"></i></a>
					</div>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col">
					<p><a href="https://t.me/+mSloWI_efgFmZTIy">2024 © Powered by Turbokotiki</a></p>
				</div>
			</div>
		</div>
	</footer>
</body> 
</html>
