<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DESERTIKA Управление заказами</title>
	<link rel="icon" href="static/images/favicon.ico">

	<script src="static/lib/jquery-3.5.1.slim.min.js"></script>
	<script src="static/lib/bootstrap.min.js"></script>
	<script src="static/lib/jquery.min.js"></script>
	<link href="static/lib/bootstrap.min.css" rel="stylesheet">
	<link href="static/lib/font-awesome.min.css" rel="stylesheet">
	<script src="static/lib/popper.min.js"></script>
	<link rel="stylesheet" href="static/lib/all.min.css">

	<link rel="stylesheet" href="static/style/order_manager.css">
	<link rel="stylesheet" href="static/style/modal.css">
</head>
<body>
	<nav class="navbar navbar-expand-lg bg-pink sticky-top">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('main') }}">
				<img src="static/images/logo_small.jpg" class="logo d-block" alt="Logo" oncontextmenu="return false;" onmouseover="this.title='';" style="max-height: 50px;">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<!-- <span class="navbar-toggler-icon"></span> -->
				<i class="fa fa-bars" aria-hidden="true"></i>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="#">Каталог</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<!-- Добавляем элемент навигации для телефонного номера -->
					<li class="nav-item">
						<a class="nav-link" href="tel:+79143336761">+7 (914) 333-67-61</a>
					</li>
				</ul>
			</div>
			<div class="collapse navbar-collapse justify-content-end " id="navbarNav">
				<ul class="navbar-nav">
					{% if user.is_admin == True %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('administrator') }}"><i class="fas fa-lock" aria-hidden="true"></i> Admin</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('basket') }}"><i class="fa fa-shopping-basket" aria-hidden="true"></i> Корзина</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('profile') }}"><i class="fa fa-user"></i> {{user.name}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Выйти</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<div class="main">
        <img src="static\images\logo.jpg" alt="Image Description" class="registration-image">
            <div class="zation">
                <div class="head">
                    <div></div>
                    <a id="usines" class="selected" href="#">Ожидание</a>
                    <a id="version" href="#">Выполнено</a>
                    <a id="version2" href="#">Отменено</a>
                    <div></div>
                </div>
                <div class="tabs">
						<!-- Ожидание -->
                        <div class="order-boxes" id="waitingForm">
							{% if orders == [] %}
									<h1 style="margin-top: 180px; color: grey;">Заказов нет</h1>
							{% endif %}
			
							{% for order in orders  if order.status == "Ожидание" %} 
								<div class="order-box">
									<div class="info-line"><p>Номер: {{order.oid}}</p></div>
									<div class="info-line">
										<p>Статус: </p>
										<form id="statusForm_{{order.oid}}">
											<input type="hidden" id="oid_{{order.oid}}" value="{{ order.oid }}"> 
											<select id="statusSelect_{{order.oid}}" onchange="updateStatus('{{order.oid}}')">
												<option value="{{order.status}}">{{order.status}}</option>
												{% if order.status != "Ожидание" %}
													<option value="Ожидание">Ожидание</option>
												{% endif %}
												{% if order.status != "Выполнено" %}
													<option value="Выполнено">Выполнено</option>
												{% endif %}
												{% if order.status != "Отменено" %}
													<option value="Отменено">Отменено</option>
												{% endif %}
											</select>
										</form>
									</div>
									<a href="#" onclick="openModal('{{order.oid}}')">
										<div class="info-line"><p>Заказчик: {{order.name}}</p></div>
										<div class="info-line"><p>Тел.: {{order.tel}}</p></div>
										<div class="info-line"><p>{{order.order_date}}</p></div>
										<div class="info-line"><p>Сумма: {{order.sum}}₽</p></div>
									</a>
									<div id="myModal_{{ order.oid }}" class="modal">
										<div class="main-modal">
											<div class="up-box">
												<h3 class="head-h3">Детали заказа</h3>
												<a class="close2" onclick="closeModal('{{order.oid}}')">&times;</a>
											</div>
											<!-- <hr color="#373737" size="1" width="90%"> -->
											<div class="desc-box">
												<p>Коментарий: {{order.coment}}</p>
												<p>Имя: {{order.name}}</p>
												<p>Тел.: {{order.tel}}</p>
												<p>Сумма: {{order.sum}}₽</p>
											</div>
											
											<div class="modal-content">
												<table id="data-table">
													<thead>
														<tr>
															<th>id</th>
															<th>Фото</th>
															<th>Название</th>
															<th>Вес</th>
															<th>Кол-во</th>
															<th>Цена</th>
														</tr>
													</thead>
													<tbody>
													{% for product in order.products %}
														<tr>
															<td contenteditable="false">{{ product.pid }}</td>
															<td contenteditable="false"><img class="table-img" src="static/uploads/{{ product.path_to_photo }}/main.jpg"></td>
															<td contenteditable="false">{{ product.name }}</td>
															<td contenteditable="false">{{ product.weight }}</td>
															<td contenteditable="false">{{ product.count }}</td>
															<td contenteditable="false">{{ product.price }}{{ product.price_text }}</td>
														</tr>
													{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>

						<!-- Выполнено -->
                        <div class="order-boxes" id="completedForm" style="display:none;">
							{% if orders == [] %}
									<h1 style="margin-top: 180px; color: grey;">Заказов нет</h1>
							{% endif %}
			
							{% for order in orders if order.status == "Выполнено" %} 
								<!-- <a href="#" onclick="openModal('{{order.oid}}')"> -->
									<div class="order-box">
										<div class="info-line"><p>Номер: {{order.oid}}</p></div>
										<div class="info-line">
											<p>Статус: </p>
											<form id="statusForm_{{order.oid}}">
												<input type="hidden" id="oid_{{order.oid}}" value="{{ order.oid }}"> 
												<select id="statusSelect_{{order.oid}}" onchange="updateStatus('{{order.oid}}')">
													<option value="{{order.status}}">{{order.status}}</option>
													{% if order.status != "Ожидание" %}
														<option value="Ожидание">Ожидание</option>
													{% endif %}
													{% if order.status != "Выполнено" %}
														<option value="Выполнено">Выполнено</option>
													{% endif %}
													{% if order.status != "Отменено" %}
														<option value="Отменено">Отменено</option>
													{% endif %}
												</select>
											</form>
										</div>
										<a href="#" onclick="openModal('{{order.oid}}')">
											<div class="info-line"><p>Заказчик: {{order.name}}</p></div>
											<div class="info-line"><p>Тел.: {{order.tel}}</p></div>
											<div class="info-line"><p>{{order.order_date}}</p></div>
											<div class="info-line"><p>Сумма: {{order.sum}}₽</p></div>
										</a>
										<div id="myModal_{{ order.oid }}" class="modal">
											<div class="main-modal">
												<div class="up-box">
													<h3 class="head-h3">Детали заказа</h3>
													<a class="close2" onclick="closeModal('{{order.oid}}')">&times;</a>
												</div>
												<!-- <hr color="#373737" size="1" width="90%"> -->
												<div class="desc-box">
													<p>Коментарий: {{order.coment}}</p>
													<p>Имя: {{order.name}}</p>
													<p>Тел.: {{order.tel}}</p>
													<p>Сумма: {{order.sum}}₽</p>
												</div>
												
												<div class="modal-content">
													<table id="data-table">
														<thead>
															<tr>
																<th>id</th>
																<th>Фото</th>
																<th>Название</th>
																<th>Вес</th>
																<th>Кол-во</th>
																<th>Цена</th>
															</tr>
														</thead>
														<tbody>
														{% for product in order.products %}
															<tr>
																<td contenteditable="false">{{ product.pid }}</td>
																<td contenteditable="false"><img class="table-img" src="static/uploads/{{ product.path_to_photo }}/main.jpg"></td>
																<td contenteditable="false">{{ product.name }}</td>
																<td contenteditable="false">{{ product.weight }}</td>
																<td contenteditable="false">{{ product.count }}</td>
																<td contenteditable="false">{{ product.price }}{{ product.price_text }}</td>
															</tr>
														{% endfor %}
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
							{% endfor %}
						</div>

						<!-- Отменено -->
                        <div class="order-boxes" id="cancelledForm" style="display:none;">
							{% if orders == [] %}
									<h1 style="margin-top: 180px; color: grey;">Заказов нет</h1>
							{% endif %}
							{% for order in orders if order.status == "Отменено" %}
									<div class="order-box">
										<div class="info-line"><p>Номер: {{order.oid}}</p></div>
										<div class="info-line">
											<p>Статус: </p>
											<form id="statusForm_{{order.oid}}">
												<input type="hidden" id="oid_{{order.oid}}" value="{{ order.oid }}"> 
												<select id="statusSelect_{{order.oid}}" onchange="updateStatus('{{order.oid}}')">
													<option value="{{order.status}}">{{order.status}}</option>
													{% if order.status != "Ожидание" %}
														<option value="Ожидание">Ожидание</option>
													{% endif %}
													{% if order.status != "Выполнено" %}
														<option value="Выполнено">Выполнено</option>
													{% endif %}
													{% if order.status != "Отменено" %}
														<option value="Отменено">Отменено</option>
													{% endif %}
												</select>
											</form>
										</div>
										<a href="#" onclick="openModal('{{order.oid}}')">
											<div class="info-line"><p>Заказчик: {{order.name}}</p></div>
											<div class="info-line"><p>Тел.: {{order.tel}}</p></div>
											<div class="info-line"><p>{{order.order_date}}</p></div>
											<div class="info-line"><p>Сумма: {{order.sum}}₽</p></div>
										</a>
										<div id="myModal_{{ order.oid }}" class="modal">
											<div class="main-modal">
												<div class="up-box">
													<h3 class="head-h3">Детали заказа</h3>
													<a class="close2" onclick="closeModal('{{order.oid}}')">&times;</a>
												</div>
												<!-- <hr color="#373737" size="1" width="90%"> -->
												<div class="desc-box">
													<p>Коментарий: {{order.coment}}</p>
													<p>Имя: {{order.name}}</p>
													<p>Тел.: {{order.tel}}</p>
													<p>Сумма: {{order.sum}}₽</p>
												</div>
												
												<div class="modal-content">
													<table id="data-table">
														<thead>
															<tr>
																<th>id</th>
																<th>Фото</th>
																<th>Название</th>
																<th>Вес</th>
																<th>Кол-во</th>
																<th>Цена</th>
															</tr>
														</thead>
														<tbody>
														{% for product in order.products %}
															<tr>
																<td contenteditable="false">{{ product.pid }}</td>
																<td contenteditable="false"><img class="table-img" src="static/uploads/{{ product.path_to_photo }}/main.jpg"></td>
																<td contenteditable="false">{{ product.name }}</td>
																<td contenteditable="false">{{ product.weight }}</td>
																<td contenteditable="false">{{ product.count }}</td>
																<td contenteditable="false">{{ product.price }}{{ product.price_text }}</td>
															</tr>
														{% endfor %}
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
							{% endfor %}
						</div>
                </div>
            </div> 
    </div>
	
	<footer class="bg-pink">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<!-- Поместили изображение внутрь первой колонки сетки -->
					<img src="static\images\logo.jpg" alt="Image Description" class="footer-image">
				</div>
				<div class="col-md-3">
					<h5>Каталог</h5>
					<ul class="list-unstyled">

						{% for category, products in grouped_product.items() %}
							<li><a href="#">{{category}}</a></li>
						{% endfor %}
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Информация</h5>
					<ul class="list-unstyled">
						<li><a href="#">О нас</a></li>
						<li><a href="#">Условия использования</a></li>
						<li><a href="#">Политика конфиденциальности</a></li>
					</ul>
				</div>
				<div class="col-md-3">
					<h5>Контакты</h5>
					<address>
						Адрес: <a href="https://yandex.ru/maps/-/CDFAZPnX">Усадьба &laquo;Вавилово&raquo;,<br>
						ул. Елецкая 1а</a><br>
						Телефон: <a href="tel:+79143336761">+7 (914) 333-67-61</a><br>
						Email: <a href="mailto:desertika.ov@mail.ru">desertika.ov@mail.ru</a>
					</address>
					<div style="font-size: 20px; margin-top: 10px;">
						<a href="https://t.me/desertika_by_olga_vlasenko" style="margin-right: 10px;"><i class="fab fa-telegram"></i></a>
						<a href="https://www.instagram.com/desertika_by_olga_vlasenko?igsh=MTljOHdoaHo2dGhreQ==" style="margin-right: 10px;"><i class="fab fa-instagram"></i></a>
						<a href="https://wa.me/79143336761"><i class="fab fa-whatsapp"></i></a>
					</div>
				</div>
			</div>
			<div class="row mt-3">
				<div class="col">
					<p><a href="https://t.me/+mSloWI_efgFmZTIy">2024 © Powered by Turbokotiki</a></p>
				</div>
			</div>
		</div>
	</footer>

	<script>
		function updateStatus(orderId) {
			var selectedStatus = document.getElementById("statusSelect_" + orderId).value;
			var orderIdValue = document.getElementById("oid_" + orderId).value;
			// Отправить информацию на сервер Flask
			fetch('/update_status', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json',
				},
				body: JSON.stringify({status: selectedStatus, oid: orderIdValue}),
			})
			.then(response => {
				if (response.ok) {
					console.log('Статус успешно обновлен');
				} else {
					console.error('Ошибка обновления статуса');
				}
			})
			.catch(error => {
				console.error('Произошла ошибка:', error);
			});
		}
	</script>
	<script src="static/js/modal.js"></script>
	<script>
        $(document).ready(function(){
            // Скрываем форму "Заказы" и "История" при загрузке страницы
            $("#completedForm").hide();
            $("#cancelledForm").hide();
    
            // Обработчик клика по ссылке "Мои данные"
            $("#usines").click(function(){
                $("#waitingForm").show();
                $("#completedForm").hide();
                $("#cancelledForm").hide();
                $(this).addClass("selected");
                $("#version").removeClass("selected");
                $("#version2").removeClass("selected"); // Убираем класс "selected" с других ссылок
                return false; // предотвращаем действие по умолчанию для ссылки
            });
    
            // Обработчик клика по ссылке "Заказы"
            $("#version").click(function(){
                $("#waitingForm").hide();
                $("#completedForm").show();
                $("#cancelledForm").hide();
                $(this).addClass("selected");
                $("#usines").removeClass("selected");
                $("#version2").removeClass("selected"); // Убираем класс "selected" с других ссылок
                return false; // предотвращаем действие по умолчанию для ссылки
            });
    
            // Обработчик клика по ссылке "История"
            $("#version2").click(function(){
                $("#waitingForm").hide();
                $("#completedForm").hide();
                $("#cancelledForm").show();
                $(this).addClass("selected");
                $("#usines").removeClass("selected");
                $("#version").removeClass("selected"); // Убираем класс "selected" с других ссылок
                return false; // предотвращаем действие по умолчанию для ссылки
            });
        });
    </script>
</body>
</html>