<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>DESERTIKA</title>
	<link rel="icon" href="../static/images/favicon.ico">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script> 
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> 
	<link rel="stylesheet" href="../static/style/product_detail.css">
	<script>
        window.onload = function() {
            localStorage.removeItem('productPath');
        };
    </script>
</head>
<body>
	<div class="main">
		<a href="{{ url_for('main') }}">
			<img src="..\static\images\logo.jpg" class="registration-image" oncontextmenu="return false;" onmouseover="this.title='';">
		</a>
	<div class="head">
		<h3>{{product.name}}</h3>
	</div>
	<div class="base">
		<div class="img_box">
			<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"> 
				<ol class="carousel-indicators"> 
					{% for i in range(image_paths|length) %} 
						<li data-target="#carouselExampleIndicators" data-slide-to="{{ i }}" {% if i == 0 %}class="active"{% endif %}></li> 
					{% endfor %} 
				</ol> 
				<div class="carousel-inner"> 
					{% for path in image_paths %} 
						<div class="carousel-item {% if loop.first %}active{% endif %}"> 
							<img class="d-block w-100" src="../{{ path }}" alt="Slide {{ loop.index }}"> 
						</div> 
					{% endfor %} 
				</div> 
				<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev"> 
					<span class="carousel-control-prev-icon" aria-hidden="true"></span> 
					<span class="sr-only">Previous</span> 
				</a> 
				<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next"> 
					<span class="carousel-control-next-icon" aria-hidden="true"></span> 
					<span class="sr-only">Next</span> 
				</a> 
			</div>
		
		</div>
		<div class="desc_box">
			<div style="display: block;">
				<h4>Описание:</h4>
				<p>{{product.description}}</p>
			</div>
			<br>
			<div style="display: grid; justify-items: start;">
				<div>
					<b>Вес: </b>
					<p>  {{product.weight}}</p>
				</div>

				<div>
					<b>Цена: </b>
					<p>  {{product.price}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="buy-box">
		{% if user.uid %}
			<input type="hidden" class="hiddenValue" value="{{ product.pid }}">
			<button class="sendButton">В корзину</button>

		{% else %}
			<div class="else-auth">
				<p>Чтобы добавлять товар в корзину, требуется авторизация</p>
				<a href="{{ url_for('login') }}">Авторизироваться</a>
			</div>
		{% endif %}
	</div>
	</div>
</body>
</html>