<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="static/images/favicon.ico">
    <title>DESERTIKA</title>
    <link rel="icon" href="static/img/favicon.ico">
    <link rel="stylesheet" href="static/style/login.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    <div class="main">
    	<a href="{{ url_for('main') }}">
			<img src="static\images\logo.jpg" alt="Image Description" class="registration-image">
		</a>
    </div>
</body>
</html>