<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Desertika</title>
</head>
<body>
	<h2>Регистрация</h2>
	<form action="/register" method="post" class="form">
		<input id="register-name" name="name" type="text" class="field-input-name" placeholder="Имя" required>
		<br>
		<input id="register-surname" name="surname" type="text" class="field-input-name" placeholder="Фамилия" required>
		<br>
		<input id="register-email" name="email" type="email" class="field-input-name" placeholder="Почта" required>
		<br>
		<input id="register-tel" name="tel" type="tel" class="field-input-name" placeholder="Номер телефона" required>
		<br>
		<input id="register-pass" name="password" type="password" class="field-input-name" placeholder="Пароль" required>
		<br>
		<input class="field-input-button" type="submit" value="Зарегистрироваться">
	</form>
</body>
</html>