<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" href="static/img/favicon.ico" />
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="static/style/reset_password.css">
</head>
<body>
    <div class="form">
		<img src="static\images\logo.jpg" alt="Image Description" class="registration-image" >
        <div class="inputs">
            <form class="forma" action="{{ url_for('reset_password') }}" method="post">
				<h3>Сброс пароля</h3>
				<label for="email">Введите адрес электронной почты:</label>
				<div class="spacer"></div>
				<input class="input-field" type="email" name="email" placeholder="email">
				<br>
				<input class="zation-button" type="submit" value="Сбросить">
			</form>
			<p>Вспомнили пароль? <a href="{{ url_for('login') }}" style="color: rgb(108, 253, 86);">Войти!</a></p>
			{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<p>{{ message }}</p>
						{% endfor %}
					{% endif %}
       			 {% endwith %}
        </div>
    </div>
</body>
</html>
